{% extends "base.html" %}
{% block content %}
<form action='/crypto_form_handler' method='post' enctype="multipart/form-data">
<div>
	<p>
	<label for='file-upload'>Выберите файл</label>
	<input type='file' name="selected" id='file-upload' required />
	</p>

	<p>
	<input type="radio" name="crypt" value='encrypt' id='encrypt' required />
	<label for='encrypt'>Зашифровать</label>
	<input type="radio" name="crypt" value='decrypt' id='decrypt' required />
	<label for='decrypt'>Расшифровать</label>
	</p>

	<p>
	<textarea name='key' cols='30' minlength='16' maxlength='32'
			required rows='1'>Ключ</textarea>
	</p>

	<p>
	<label for='nonce'>Одноразовый код (nonce)</label>
	<input type='file' name='nonce' id='nonce' />
	</p>

	<p>
	<input id="sbmtbtn" type="submit" value="Отправить" />
	</p>
</div>
</form>
<p>
При шифровании/расшифровке необходимо загрузить
<a href="https://en.wikipedia.org/wiki/Cryptographic_nonce">ключ</ a>
</p>
{% endblock %}

